html {
	scroll-snap-type: y mandatory;
}

/* .app {
    display: grid;
    place-items: center;
    height: 100vh;
  } */
.card {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.app_top {
	margin-bottom: 15px;
}
.app_top > h1 {
	text-align: center;
	color: white;
}
.app_logo {
	height: 12vh;
}

.videos {
	position: relative;
	height: 65vh;
	background-color: white;
	width: 50%;
	border-radius: 20px;
	max-width: 700px;
	max-height: 1500px;
	overflow: scroll;
	scroll-snap-type: y mandatory;
}

.app_videos::-webkit-scrollbar {
	display: none;
}

.app_videos {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
